
<div class="container-fluid">
  
  <div class="row fw-bold border-bottom">
    <div class="col-12 col-lg-10 offset-lg-1 d-flex align-items-center">
      <h3 class="mb-0">Kurse</h3>
    </div>
  </div>

  
  <div class="row mt-2">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
          <thead class="table-light">
            <tr>
              <th scope="col">Kurs</th>
              <th scope="col">Veranstaltungsort</th>
              <th scope="col">Adresse</th>
              <th scope="col">Öffentlich erreichbar?</th>
              <th scope="col">Kursleiter</th>
              <th scope="col">Alle Termine</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of storeService.courses">
              <td>{{ course.name }}</td>
              <td>{{ course.eventLocation.name }}</td>
              <td>{{ course.eventLocation.address }}</td>
              <td>{{ course.eventLocation.venueByPublicTransport ? 'Ja' : 'Nein' }}</td>
              <td>{{ course.instructor }}</td>
              <td>
                <ul class="p-0 m-0" style="list-style: none;">
                  <li *ngFor="let date of course.dates">
                    {{ date.begin | date:'MMM dd, yyyy HH:mm' }} -
                    {{ date.end | date:'MMM dd, yyyy HH:mm' }}
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid mt-4">
  
  <div class="row fw-bold border-bottom">
    <div class="col-12 col-lg-10 offset-lg-1 d-flex align-items-center justify-content-between">
      <h3 class="mb-0">Registrierungen</h3>
      
      <button class="btn btn-secondary" (click)="toggleSortByDate()">
        Sortieren nach Anmeldedatum
        <span *ngIf="sortAsc">▲</span>
        <span *ngIf="!sortAsc">▼</span>
      </button>
    </div>
  </div>

  
  <div class="row mt-2">
    <div class="col-12 col-lg-10 offset-lg-1">
      <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
          <thead class="table-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Geburtsdatum</th>
              <th scope="col">Kurs</th>
              <th scope="col">Anmeldedatum</th>
              <th scope="col">Aktionen</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let registration of storeService.registrations">
              <td>{{ registration.name }}</td>
              <td>{{ registration.birthdate }}</td>
              <td>{{ registration.course?.name }}</td>
              <td>
                {{ registration.registrationDate | date:'yyyy-MM-dd HH:mm' }}
              </td>
              <td class="position-relative">
                <button
                  class="btn btn-danger"
                  (click)="onDeleteRegistration(registration)"
                  [disabled]="registration.isDeleting"
                >
                  Abmelden
                </button>

               
                <div
                  class="overlay-spinner"
                  *ngIf="registration.isDeleting"
                >
                  <div class="spinner-border text-light" role="status">
                    <span class="visually-hidden">Lädt...</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  
  <div class="row mt-2">
    <div class="col-12 col-md-10 offset-md-1 text-center">
      <button
        class="btn me-1"
        [ngClass]="{
          'btn-warning': page == storeService.currentPage,
          'btn-outline-primary': page != storeService.currentPage
        }"
        (click)="selectPage(page)"
        type="button"
        *ngFor="let page of returnAllPages()"
      >
        {{ page }}
      </button>
    </div>
  </div>
</div>
