<form
  [formGroup]="registrationForm"
  (ngSubmit)="onSubmit()"
  class="row justify-content-center"
>
  <div class="col-12 col-lg-10 offset-lg-1">
    
    <p class="text-muted">
      Hier können Sie sich für einen Kurs anmelden. Felder mit
      <span class="text-danger">*</span> sind erforderlich.
    </p>

    <h2>Zur Kursanmeldung</h2>

    
    <mat-form-field
      appearance="outline"
      hideRequiredMarker="true"
      class="w-100 mb-3"
    >
      <mat-label>Name <span class="text-danger">*</span></mat-label>
      <input matInput placeholder="Name eingeben" formControlName="name" />

      <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">
        Bitte einen Namen eingeben.
      </mat-error>
      <mat-error *ngIf="registrationForm.get('name')?.hasError('minlength')">
        Der Name muss mindestens 3 Zeichen lang sein.
      </mat-error>
      <mat-error *ngIf="registrationForm.get('name')?.hasError('maxlength')">
        Der Name darf maximal 50 Zeichen haben.
      </mat-error>
    </mat-form-field>

   
    <mat-form-field
      appearance="outline"
      hideRequiredMarker="true"
      class="w-100 mb-3"
    >
      <mat-label>Geburtsdatum <span class="text-danger">*</span></mat-label>
      <input matInput type="date" formControlName="birthdate" />
      <mat-error *ngIf="registrationForm.get('birthdate')?.hasError('required')">
        Bitte ein Geburtsdatum eingeben.
      </mat-error>
      <mat-error *ngIf="registrationForm.get('birthdate')?.hasError('max')">
        Das Geburtsdatum darf nicht in der Zukunft liegen.
      </mat-error>
      <mat-error *ngIf="registrationForm.get('birthdate')?.hasError('min')">
        Das Geburtsdatum darf nicht vor 1900 liegen.
      </mat-error>
    </mat-form-field>

    
    <mat-form-field
      appearance="outline"
      hideRequiredMarker="true"
      class="w-100 mb-3"
    >
      <mat-label>E-Mail <span class="text-danger">*</span></mat-label>
      <input matInput type="email" formControlName="email" />

      <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
        Bitte eine E-Mail eingeben.
      </mat-error>
      <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
        Das ist keine gültige E-Mail-Adresse.
      </mat-error>
    </mat-form-field>

   
    <mat-checkbox formControlName="newsletter" class="mb-3">
      Zum Newsletter anmelden
    </mat-checkbox>

   
    <mat-form-field
      appearance="outline"
      hideRequiredMarker="true"
      class="w-100 mb-3"
    >
      <mat-label>Kurs auswählen <span class="text-danger">*</span></mat-label>
      <mat-select formControlName="courseId">
        <mat-option value="">Bitte auswählen</mat-option>
        <mat-option
          *ngFor="let course of storeService.courses"
          [value]="course.id"
        >
          {{ course.name }}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="registrationForm.get('courseId')?.hasError('required')">
        Bitte einen Kurs auswählen!
      </mat-error>
    </mat-form-field>

    
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registrationForm.invalid"
    >
      Erfassen
    </button>
  </div>
</form>


<div
  class="toast-container position-fixed bottom-0 end-0 p-3"
  style="z-index: 2000;"
>
  <div
    #successToast
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <strong class="me-auto">Erfolg</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">
      {{ successMessage }}
    </div>
  </div>
</div>
